.lose-wrapper, .win-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    z-index: 1;
    height: 300px;
    width: 250px;
    background-color: var(--c-2);
    text-align: center;
}




.lose-wrapper h2 {
    color: var(--c-7);
    
}

.win-wrapper h2{
    color: rgb(74, 218, 74);
}

.lose-bg, .win-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    top: 0;
}

.lose-bg {
    background-color: brown;
}

.win-bg {
    background-color: aquamarine;
}

.lose-wrapper .button-wrapper, .win-wrapper .button-wrapper {
    padding: 10px;
}