body {
    background-color: rgb(170, 131, 72);
}


.game-header {
    display: flex;
    justify-content:end;
    height: 100px;
}

.loaded {
    height: 60px;
  
    display: flex;
    justify-content: end;
    align-self: end;
}

.loaded img {
    padding-right: 50px;
    height: 100%;
}

.heart-container {
    display: flex;
    justify-content: end;
    padding: 10px;
    height: 50px;
}

.heart-container img {
    height: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-height: 400px;
    width: 100vw;
    justify-content: center;
    margin-top: 40%;
}

.card  {
    height: 138px;
    width: 100px;
}

.deck-back{
    margin-top: 10%;
}

.deck-back img{
    height: 150px;
    margin: 0 auto;
    
}

.counter {
    display: flex;
    justify-content: center;
    padding: 10%;
    font-size: 2rem;
}

